* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    /* Define a imagem de fundo e o caminho para o arquivo */
    background-image: url('bg.jpg'); 
    
    /* Garante que a imagem cubra toda a área do corpo */
    background-size: cover; 
    
    /* Centraliza a imagem na tela */
    background-position: center; 
    
    /* Impede que a imagem se repita */
    background-repeat: no-repeat; 
    
    /* Define uma cor de fallback sólida caso a imagem não carregue */
    background-color: #000000; 
    
    /* Define a cor do texto principal para branco para garantir legibilidade sobre o fundo escuro */
    color: #ffffff; 
    
    /* Adicione outras configurações de fonte/layout aqui, se quiser */
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh; /* Garante que o body ocupe 100% da altura da tela */
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.logo img {
  width: 50px; /
  height: auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

p {
  font-size: 1rem;
  margin-bottom: 6px;
  opacity: 0.95;
}
