:root {
    /* Atualizando a fonte para Montserrat */
    --font-family: 'Montserrat', sans-serif;
    --primary-color: #007bff;
    --bg-color: rgba(244, 244, 249, 0.85); /* Fundo do container semi-transparente */
}

body {
    font-family: var(--font-family);
    background-image: url('bn.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--bg-color);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
    max-width: 500px;
    backdrop-filter: blur(10px); /* Efeito de vidro fosco moderno */
}

.logo img {
    max-width: 200px;
    opacity: 0.8; /* Efeito de marca d'água no logo */
    transition: opacity 0.3s;
    margin-bottom: 20px;
}

.logo img:hover {
    opacity: 1; /* O logo acende quando passa o mouse */
}

h1 {
    font-weight: 700;
    color: #222;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

p {
    color: #555;
    font-weight: 400;
    /* Efeito suave nas fontes */
    opacity: 0.9;
}
