html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

 body {
    background-image: url(/imagens/bn.jpg).
    background-size: cover;
    background-position: center;
}


.container {
    text-align: center;
    padding-top: 60px;
    background-color: rgba(0,0,0,0.55);
    min-height: 100vh;
}

.logo {
    width: 60px;
    margin-bottom: 10px;
}

.endereco {
    margin-top: 30px;
    font-size: 14px;
}
